{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div id="root"/></div>
    <div text-align="center">
        <div class="hero-text">
            <p><img src="/static/img/spotonlogo_b.png"><br><br>
            Don't spoil sport, share your spots!<br>
            <h3>The real media within your circle without the bull.</h3>
            </p>
            <br>
            <a href="/register" id="btn" style="margin:20px;">Register</a><hr>
            <a href="/login" id="btn" style="margin:20px;">Login</a>
        </div>

    </div>

{% endblock %}